<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>欧冠之王-皇家马德里</title>

<meta content="欧冠之王-皇家马德里" name="keywords" />

<meta content="欧冠之王-皇家马德里" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>HALA,Madrid！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="130" height="75" alt="" title="欧冠之王-皇家马德里"></a>

       		<ul>
  
            	<li><a href="../index.html">皇马首页</a></li>       
                <li><a href="../template/beautiful.html">马德里地理介绍</a></li>        
                <li><a href="../template/players.html">球员介绍</a></li>   

     		</ul>  

    </div>       

</div>
<!--header结束--> 
<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>走进皇马</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">皇马文化</a></h3>

</li>

        

        <li><h3><a href="Culture.html">皇马荣誉</a></h3>

</li>

        

        <li><h3><a href="historic.html">皇马历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：中山大学南方学院</p>

                      <p>联系人：龙霆，黄栋铧，钟义堤</p>

                      <p>龙霆电话：020-xxxxxxx</p>
                      <p>黄栋铧电话2：020-xxxxxxx</p>
                  <p>钟义堤电话3：020-xxxxxxx</p>

                      <p>QQ 1：2910716945</p>
                      <p>QQ 2：1029109792</p>
                      <p>QQ 3：1583181483</p>
                      <p>邮编：510900</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 皇马历史</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>皇马历史</span>

                        发布人:钟义堤　　发布时间：2019-04-25 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;皇家马德里足球俱乐部前身是建于1896年的西班牙斯凯足球队，当时仅有会员30人，队员当时只有7、8人，比赛是在利斯塔大街的一片空地上进行的。
19~20世纪之交，在西班牙首都马德里市刚度过美西战争和国内混乱之际，足球狂热爱好者卡洛斯·帕德罗斯的决定在该市推广足球运动，经过几年的筹备，1902年3月6日正式成立了马德里社会俱乐部，由英国人阿瑟·约翰逊任第一任主教练，帕德罗斯之弟胡安·帕德罗斯·鲁比奥就任主席。1902年4月22日，俱乐部正式通过政府认可，马德里足球俱乐部成立。
俱乐部成立初期，更多的是参加地区级别的联赛和简单的“地方联赛”，参加国家级别的赛事则要从1903年正式开始的西班牙国王杯算起。俱乐部在最初的4届国王杯均捧桂冠，当时西班牙还未举办全国联赛，只有王室举办的西班牙杯赛，马德里队1905年首次夺冠，又在随后的三年连续夺冠。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;俱乐部被冠以“皇家”之名要推迟至1920年，经过一些波折之后又在1941年重新拥有“皇家”称号并延续下去。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;1947年，查马丁体育场落成，皇马球员首次身披白色的号码队服进入这座伟大球场，之后的几年皇马成绩平平，随着1953年“神奇教练”恩里克·费尔南德斯的到来，皇马正式操起了当时流行的先进阵型“WM”阵型，伯纳乌主席也在那个赛季为皇马签下了阿尔弗雷多·迪·斯蒂法诺，此后，随着帕科·亨托、马特奥斯等球员的到来，皇马时隔21年后夺得了1954年的西甲联赛冠军。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;1985年5月4日，皇马赢得历史上首座联盟杯之后的第3天，皇马历史上第三位德高望重的主席门多萨入主伯纳乌，他治下的10年是皇马重新走向辉煌的序曲。当年，皇家马德里引进了墨西哥球星乌戈·桑切斯和阿根廷球星巴尔达诺，加上本国的新星布特拉格诺等，实力大增。1985、1986年两获欧洲联盟杯冠军，成为联盟杯历史上第一支蝉联冠军的球队。
 <br />

&nbsp;&nbsp;&nbsp;&nbsp;从1986年开始，荷兰人本哈克成为皇马的主教练。布特拉格诺、米歇尔、桑切斯、巴斯克斯和帕德萨被誉为“皇马皇冠上的五颗珍珠”。尽管经历了一些波折，但在他们的共同努力下，皇马包揽了从1986~1990年连续5个赛季的西甲冠军，实现了俱乐部历史上第二次联赛的“五连冠”（第一次是1960~1964年）。
进入2000年以后，皇马在主席弗洛伦蒂诺·佩雷斯的带领下奉行“巨星政策”，致力打造豪华至极的“银河战舰”，菲戈、齐达内、罗纳尔多、贝克汉姆、欧文巨星相继加入皇马。而耶罗、马克莱莱、麦克马纳曼、坎比亚索等中后场球员的相继离去，造成了皇马的中后场薄弱。奎罗斯、卡马乔、雷蒙、卡罗、卢森博格、卡佩罗等教练频繁更迭、更衣室矛盾重重最终导致弗洛伦蒂诺只能黯然退位。



	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">皇马历史</a> | <a href="Culture.html">皇马荣誉</a> | <a href="beautiful.html">马德里风景</a> |  <a href="connection.html">联系我们</a></p>

<p>Copyright &copy; 2019－2026 All Rights Reserved 版权所有 黄栋铧 龙霆 钟义堤</p>
  <p>地址：中山大学南方学院 </p>
  
</div>



<!--footer 结束--> 


</body>

</html>

