<!DOCTYPE HTML>
<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>欧冠之王-皇家马德里</title>

<meta content="欧冠之王-皇家马德里" name="keywords" />

<meta content="欧冠之王-皇家马德里" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>HALA,Madrid！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="130" height="75" alt="" title="欧冠之王-皇家马德里"></a>

       		<ul>
  
            	<li><a href="../index.html">皇马首页</a></li>       
                <li><a href="../template/beautiful.html">马德里地理介绍</a></li>        
                <li><a href="../template/players.html">球员介绍</a></li>   

     		</ul>  

    </div>       

</div>
<!--header结束--> 



<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>走进皇马</h1>

                	<ul class="ul_left">

                    


         <li><h3><a href="introduce.html">皇马文化</a></h3>

</li>

        

        <li><h3><a href="Culture.html">皇马荣誉</a></h3>

</li>

        

        <li><h3><a href="historic.html">皇马历史</a></h3>
		
</li>

         	</ul>


                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：中山大学南方学院</p>

                      <p>联系人：龙霆，黄栋铧，钟义堤</p>

                      <p>龙霆电话：020-xxxxxxx</p>
                      <p>黄栋铧电话2：020-xxxxxxx</p>
                  <p>钟义堤电话3：020-xxxxxxx</p>

                      <p>QQ 1：2910716945</p>
                      <p>QQ 2：1029109792</p>
                      <p>QQ 3：1583181483</p>
                      <p>邮编：510900</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 皇马文化</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>皇马文化</span>

                        发布人:钟xx　　发布时间：2019-04-25 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;球队队徽进化史</p>
        <img src="../images/teamicon.jpg" width="424" height="119"> </p>
        1902年皇马诞生了第一个队徽，一群喜爱足球这项刚刚出现在大不列颠岛的体育运动的人于1902年3月6日成立了马德里足球俱乐部。最初的队徽由象征俱乐部名称的首个大写字母组成，白色的背景配上海军蓝色的字母M、C、F。 为了参加官方组织的正式比赛，根据当时对体育组织的要求，马德里足球俱乐部必须在队徽上加入马德里市的市徽（左），所以马德里足球俱乐部的队徽就变成了圆形（右，蓝色），但是这很容易和市徽搞混。 [58] 
从1908年开始，马德里足球俱乐部的队徽进行了修改并获得了真正意义上的队徽。
在新的队徽上依旧保留了象征俱乐部名称的大写字母，但是这其中字母M的写法却变得别具风格，由于M代表着马德里，所以把它的写法变成了醒目的圆形。整体来看队徽的颜色没有改变，依旧是白色的底色映衬着海军蓝色的图案。
1920年皇马的队徽成功“加冕”。西班牙国王阿方索八世于1920年6月29日授予了马德里足球俱乐部“皇家”的字样，于是在他们的队徽上就出现了一顶皇冠。此外，三个象征着俱乐部名称的字母也轻微地改变了位置，M被稍稍挪向左边并拉得更长。
为了参加官方组织的比赛，皇家马德里足球俱乐部只能继续使用马德里市的市徽，不过在市徽上他们依旧可以加上皇冠的图案。
1931年西班牙共和国时期事过境迁，西班牙国王被流放，1931年4月14日成立了西班牙共和国，于是所有带有君主制象征的标志统统被禁止了，于是俱乐部队徽上的皇冠图案也消失了，球队的名称再次变成了“马德里足球俱乐部”。与此同时，俱乐部的队徽上还加上了一条象征着卡斯蒂利亚地区的绶带。
1941年“皇家”字样再次出现，西班牙内战结束以后，社会制度再次变更，皇冠的图案则再次出现在俱乐部的队徽上。队徽的颜色也作出了调整，金黄色替代了以前的海军蓝色。这个版本的队徽一直沿用到2001年。
到了2001年，皇家马德里俱乐部再一次对俱乐部队徽做了细微的改动，就成了今天我们看到的皇马队徽。 

<br />

&nbsp;&nbsp;&nbsp;&nbsp;球队队歌</p>
Hala Madrid y Nada Más《加油，马德里》</p>
西班牙语	汉语
Historia que tú hiciste,
Historia por hacer
Porque nadie resiste
Tus ganas de vencer.
Ya salen las estrellas
Mi viejo Chamartín
De lejos y de cerca
Nos traes hasta aquí.
Llevo tu camiseta
Pegada al corazón,
Los días que tú juegas
Son todo lo que soy.
Ya corre La Saeta,
Ya ataca mi Madrid
Soy lucha, soy belleza
El grito que aprendí.
Madrid
Madrid,
Madrid
HALA MADRID!
Y nada más,
Y nada más
HALA MADRID!
Historia que tu hiciste.
Historia por hacer
Porque nadie resiste
Tus ganas de vencer.
Ya salen las estrellas
Mi viejo Chamartín
De lejos y de cerca
Nos traes hasta aquí.
Madrid,
Madrid,
Madrid
HALA MADRID!
Y nada más,
Y nada más a
HALA MADRID!
你曾写就历史
你也将开创历史
因为无人可以抗拒
你对胜利的渴望
现在群星升起
我古老的球场查马丁
或远或近
你将我们引领至此
身披你的战袍
贴近我的心房
你奋战的那些日月
也正是我存在的所有
箭已离弓
我的马德里发起冲锋
我战斗，我美丽
那呐喊我早已学会
马德里
马德里
马德里
加油马德里！
除此之外别无其他
别无其他
加油马德里！
你曾写就历史
你也将开创历史
因为无人可以抗拒
你对胜利的渴望
现在群星升起
我古老的球场查马丁
或远或近
你将我们引领至此
马德里
马德里
马德里
加油马德里！
除此之外别无其他
别无其他
加油马德里！
<br />



	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">皇马历史</a> | <a href="Culture.html">皇马荣誉</a> | <a href="beautiful.html">马德里风景</a> |  <a href="connection.html">联系我们</a></p>

<p>Copyright &copy; 2019－2026 All Rights Reserved 版权所有 黄栋铧 龙霆 钟义堤</p>
  <p>地址：中山大学南方学院 </p>
  
</div>



<!--footer 结束--> 


</body>

</html>

