<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>欧冠之王-皇家马德里</title>

<meta content="欧冠之王-皇家马德里" name="keywords" />

<meta content="欧冠之王-皇家马德里" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>HALA,Madrid！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="130" height="75" alt="" title="欧冠之王-皇家马德里"></a>

       		<ul>
  
            	<li><a href="../index.html">皇马首页</a></li>       
                <li><a href="../template/beautiful.html">马德里地理介绍</a></li>        
                <li><a href="../template/players.html">球员介绍</a></li>   

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner-->

		<div class="banner_erji">

        	<img src="../images/players.jpg" width="1000" height="187" alt="" title="">        </div>

		<!--banner end--> 

		

		<!--content-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>必玩景点</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="tourism.html">主力球员一览图</a></h3>

</li>

        

      
         	</ul>

                 
                </div>

                

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 旅游景点</div>

            	<ul class="ul_zj clearfix">
 

           	<li>

                    	<a href="#"><img src="../images/players1.jpg" width="220" height="140"><span>本泽马</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/players2.jpg" width="220" height="140"><span>贝尔</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/players3.jpg" width="220" height="140"><span>维尼修斯</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/players4.jpg" width="220" height="140"><span>阿森西奥</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/players5.jpg" width="220" height="140"><span>莫德里奇</span></a>                  </li>

       

        

           	<li>

                    	<a href="#"><img src="../images/players6.jpg" width="220" height="140"><span>克罗斯</span></a>                  </li>


           	<li>

                    	<a href="#"><img src="../images/players7.jpg" width="220" height="140"><span>马塞洛</span></a>                  </li>

			<li>

                    	<a href="#"><img src="../images/players8.jpg" width="220" height="140"><span>拉莫斯</span></a>                  </li>
                        
			<li>

                    	<a href="#"><img src="../images/players9.jpg" width="220" height="140"><span>纳瓦斯</span></a>                  </li>
           	



        

                </ul>

                <div class="paging"></div>

            </div>

        </div>

		<!--content end--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">皇马历史</a> | <a href="Culture.html">皇马荣誉</a> | <a href="beautiful.html">马德里风景</a> |  <a href="connection.html">联系我们</a></p>

<p>Copyright &copy; 2019－2026 All Rights Reserved 版权所有 黄栋铧 龙霆 钟义堤</p>
  <p>地址：中山大学南方学院 </p>
  
</div>



<!--footer 结束--> 
</body>

</html>

